<div class="container">
	<div class="col s12 m4 l2">
		<div id="logo"> 
			<img src="/assets/images/logo.PNG">
		</div>
		<div>

			<i class="large material-icons" id="addProject" class="material-icons">note_add</i>
			<h4>Add Project</h4>
		</div>
<table class="highlight">
        <thead>
          <tr>
              <th>Project Name</th>
              <th>Due Date</th>
              <th>Hours Spent</th>
              {{!-- <th>Invoice</th>
              <th>Delete</th>
              <th>Complete</th> --}}
          </tr>

        </thead>

        <tbody>
      
        </tbody>
      </table>
        <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Project Name: {{project_name}}</div>
      <div class="collapsible-body"><span>Description: {{description}}</span></div>
    </li>
    <li>
      <div class="collapsible-header">Second Project</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header">Third Project</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>



<script type="text/javascript">
   {{!--  // Open --}}
  $('.collapsible').collapsible('open', 0);

  // Close
  $('.collapsible').collapsible('close', 0);
 // Destroy
  $('.collapsible').collapsible('destroy');
        


</script>
        












		
	</div>
</div>

